-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: alphamindz
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin','admin');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `articles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `old_wp_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `content` longtext DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles`
--

LOCK TABLES `articles` WRITE;
/*!40000 ALTER TABLE `articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessments`
--

DROP TABLE IF EXISTS `assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `old_wp_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessments`
--

LOCK TABLES `assessments` WRITE;
/*!40000 ALTER TABLE `assessments` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `old_wp_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `status` varchar(50) DEFAULT 'publish',
  `created_at` datetime DEFAULT NULL,
  `price` varchar(50) DEFAULT NULL,
  `duration` varchar(50) DEFAULT NULL,
  `instructor_id` int(11) DEFAULT NULL,
  `thumbnail_id` int(11) DEFAULT NULL,
  `max_students` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricing_tiers`
--

DROP TABLE IF EXISTS `pricing_tiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pricing_tiers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` int(11) NOT NULL,
  `tier_name` varchar(100) NOT NULL,
  `price` varchar(50) DEFAULT NULL,
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features`)),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricing_tiers`
--

LOCK TABLES `pricing_tiers` WRITE;
/*!40000 ALTER TABLE `pricing_tiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricing_tiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `old_wp_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `price` varchar(50) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_enrollments`
--

DROP TABLE IF EXISTS `user_enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_enrollments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` int(11) NOT NULL,
  `tier_id` int(11) DEFAULT NULL,
  `enrolled_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_enrollments`
--

LOCK TABLES `user_enrollments` WRITE;
/*!40000 ALTER TABLE `user_enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(50) DEFAULT 'student',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-28  4:03:07
ਊⴭⴊ‭慔汢⁥瑳畲瑣牵⁥潦⁲慴汢⁥瑠獥楴潭楮污恳ⴊਭ䐊佒⁐䅔䱂⁅䙉䔠䥘呓⁓瑠獥楴潭楮污恳਻剃䅅䕔吠䉁䕌䤠⁆低⁔塅卉協怠整瑳浩湯慩獬⁠ਨ†楠恤椠瑮ㄨ⤱丠呏丠䱕⁌啁佔䥟䍎䕒䕍呎ਬ†慠瑵潨彲慮敭⁠慶捲慨⡲〱⤰丠呏丠䱕ⱌ 怠畡桴牯牟汯恥瘠牡档牡ㄨ〰 䕄䅆䱕⁔啎䱌ਬ†慠慶慴彲湩瑩慩獬⁠慶捲慨⡲〱 低⁔啎䱌ਬ†慠慶慴彲杢⁠慶捲慨⡲〲 低⁔啎䱌䐠䙅啁呌✠杢戭畬❥ਬ†煠潵整⁠整瑸丠呏丠䱕ⱌ 怠瑳瑡獵⁠湥浵✨捡楴敶Ⱗ椧慮瑣癩❥ 䕄䅆䱕⁔愧瑣癩❥ਬ†獠牯彴牯敤恲椠瑮ㄨ⤱䐠䙅啁呌〠ਬ†捠敲瑡摥慟恴搠瑡瑥浩⁥䕄䅆䱕⁔啃剒久彔䥔䕍呓䵁ⱐ 倠䥒䅍奒䬠奅⠠楠恤਩ 久䥇䕎䤽湮䑯⁂䕄䅆䱕⁔䡃剁䕓㵔瑵㡦扭㬴ਊⴭⴊ‭畄灭湩⁧慤慴映牯琠扡敬怠整瑳浩湯慩獬੠ⴭਊ义䕓呒䤠呎⁏瑠獥楴潭楮污恳⠠楠恤‬慠瑵潨彲慮敭Ⱡ怠畡桴牯牟汯恥‬慠慶慴彲湩瑩慩獬Ⱡ怠癡瑡牡扟恧‬煠潵整Ⱡ怠瑳瑡獵Ⱡ怠潳瑲潟摲牥Ⱡ怠牣慥整彤瑡⥠嘠䱁䕕੓ㄨ‬匧畨桢浡匠浡湡❴‬唧䅇⁔牐灥匠畴敤瑮Ⱗ✠卓Ⱗ✠杢戭畬❥‬䠧汥潬‡⁉浡匠畨桢浡匠浡湡⁴湡⁤楷汬湩⁧潴愠獮敷⁲䝕呁㈠㈰⸰䤠挠浡⁥潴欠潮⁷扡畯⁴汁桰⁡楍摮⁺牦浯洠⁹慦業祬映楲湥⹤䤠猠慴瑲摥洠⁹敲畧慬⁲䝕呁挠慬獳獥甠摮牥琠敨朠極慤据⁥景琠慥档牥䄠獩睨牡慹‬桷⁯敨灬摥洠⁥⁡潬⁴潴朠瑥愠汬琠敨椠普牯慭楴湯愠潢瑵琠敨攠慸⹭䤠爠捥楥敶⁤硥散汬湥⁴牴楡楮杮映潲⁭整捡敨⁲楁桳慷祲ⱡ愠摮愠汬洠⁹畱牥敩⁳敷敲猠汯敶⁤楴敭琠⁯楴敭‮汁⁬桴⁥瑳摵湥獴愠睬祡⁳敲散癩摥瀠牥潳慮⁬瑡整瑮潩⁮畤楲杮琠敨挠慬獳眠楨档栠汥数⁤獵琠⁯湥慨据⁥畯⁲湫睯敬杤⹥䤠⁴慷⁳⁡潷摮牥畦⁬敬牡楮杮攠灸牥敩据⹥吠慨歮礠畯✡‬愧瑣癩❥‬ⰱ丠坏⤨Ⱙ⠊ⰲ✠敍慧⁮敍敮敺❳‬倧牥潳慮楬祴䐠癥汥灯敭瑮Ⱗ✠䵍Ⱗ✠杢瀭湩❫‬䄧⁴汁桰⁡楍摮ⱺ䤠氠慥湲⁴⁡潬⁴景琠灩⁳湯栠睯䤠挠湡洠歡⁥桴⁥潭瑳漠⁦癥牥摹祡琠牨畯桧琠敨瀠牥潳慮楬祴搠癥汥灯敭瑮挠畯獲⹥䤠⁴慣⁮敢瘠牥⁹敨灬畦⁬潦⁲桴獯⁥桷⁯慷瑮琠⁯敢洠牯⁥潣普摩湥⁴湡⁤潴椠灭潲敶漠⁮潹牵瀠扵楬⁣灳慥楫杮猠楫汬⹳吠敨琠慥档牥⁳污潳洠瑯癩瑡⁥潹⁵湩琠慨⁴牰捯獥⁳祢戠楥杮瘠牥⁹湥潣牵条湩⁧数灯敬✮‬愧瑣癩❥‬ⰲ丠坏⤨Ⱙ⠊ⰳ✠畍畫摮䐠慲楶❤‬倧牡湥⁴匨潰敫⁮湅汧獩⁨…䕉呌⥓Ⱗ✠䑍Ⱗ✠杢札敲湥Ⱗ✠祍猠湯栠獡戠敥⁮⁡瑳摵湥⁴瑡䄠灬慨䴠湩穤‮效栠獡挠浯汰瑥摥栠獩匠潰敫⁮湅汧獩⁨湡⁤䕉呌⁓潣捡楨杮甠摮牥琠敨瘠污慵汢⁥畇摩湡散漠⁦桴⁥汁桰⁡楍摮⁺整浡‮桔楥⁲楨桧祬焠慵楬楦摥琠慥⁭湡⁤潭瑳瀠潲敦獳潩慮⁬業摮⁳湩琠敨映敩摬愠獳牵⁥湡⁤敤楬敶⁲潹⁵桴⁥敢瑳漠⁦敲畳瑬⹳吠敨攠据畯慲敧敭瑮愠摮猠灵潰瑲漠晦牥摥戠⁹桴浥瀠潲敶⁳潴戠⁥牰捥潩獵映牯琠敨攠瑮物⁥畦畴敲漠⁦⁡瑳摵湥⹴䄠灰敲楣瑡⁥桴⁥晥潦瑲⁳祢䴠湡⁵楓⁲湡⁤楨⁳湥楴敲吠慥⹭⠠汁獩慨‬畒慰‬楁桳慷祲ⱡ䜠獩汥敬愠摮匠歵湡慹䴠浡✩‬愧瑣癩❥‬ⰳ丠坏⤨Ⱙ⠊ⰴ✠畊敮⁤潍業❮‬匧畴敤瑮Ⱗ✠䵊Ⱗ✠杢瀭牵汰❥‬䄧灬慨䴠湩穤琠慥档牥⁳牡⁥楧楶杮洠⁥潧摯欠潮汷摥敧琠慨歮⁳潴愠汬猠慴晦✮‬愧瑣癩❥‬ⰴ丠坏⤨Ⱙ⠊ⰵ✠敎桳⁡潒正❳‬匧畴敤瑮Ⱗ✠剎Ⱗ✠杢愭扭牥Ⱗ✠瑉眠獡眠湯敤晲汵攠灸牥敩据⁥敬牡楮杮眠瑩⁨汁桰⁡楍摮⁺敷汬搠湯⁥畧獹✮‬愧瑣癩❥‬ⰵ丠坏⤨Ⱙ⠊ⰶ✠慓摮獥⁨杁牡慷敤慫❲‬倧潲敦獳潩慮⁬牔楡楮杮Ⱗ✠䅓Ⱗ✠杢琭慥❬‬䤧⁴獩愠瘠牥⁹牰景獥楳湯污琠慲湩湩⁧散瑮牥‮慈敶攠捸汥敬瑮映捡汵楴獥✮‬愧瑣癩❥‬ⰶ丠坏⤨Ⱙ⠊ⰷ✠慓杮瑩⁡流湯敫❲‬匧潰敫⁮湅汧獩⁨瑓摵湥❴‬匧❁‬戧ⵧ湩楤潧Ⱗ✠桔獩椠⁳桴⁥敢瑳挠慬獳眠楨档䤠樠楯敮⁤潦⁲湅汧獩⹨Ⱗ✠捡楴敶Ⱗ㜠‬低⡗⤩ਬ㠨‬刧桯湡删汯❴‬倧牥潳慮楬祴䐠癥汥灯敭瑮Ⱗ✠剒Ⱗ✠杢戭畬❥‬䄧灬慨䴠湩穤椠⁳桴⁥敢瑳瀠慬散映牯瀠牥潳慮楬祴搠癥汥灯敭瑮‮桔⁥慆畣瑬⁹湫睯栠睯琠⁯敨灬礠畯瘠牥⁹敷汬戠獡摥漠⁮潹牵瀠牥潳慮楬祴✮‬愧瑣癩❥‬ⰸ丠坏⤨Ⱙ⠊ⰹ✠畔桳牡䬠慨摮灥牡慫❲‬匧潰敫⁮湅汧獩⁨瑓摵湥❴‬吧❋‬戧ⵧ牧敥❮‬䄧灬慨䴠湩穤椠獮楴畴楴湯椠⁳湯⁥景琠敨戠獥⁴湩瑳瑩瑵潩獮映牯氠慥湲湩⹧䤠⁴敨灬摥洠⁥潴椠据敲獡⁥祭猠数歡湩⁧潣普摩湥散氠癥汥☠愠獬⁯潭楴慶整洠⁥⁡潬⹴Ⱗ✠捡楴敶Ⱗ㤠‬低⡗⤩ਬㄨⰰ✠慒⁪桓歵慬Ⱗ✠灓歯湥䔠杮楬桳匠畴敤瑮Ⱗ✠卒Ⱗ✠杢瀭湩❫‬䤧屴猧愠瘠牥⁹潧摯眠牯⁫景洠⁹整捡敨⁲湡⁤⁉桴湩⁫桴瑡䄠灬慨䴠湩穤挠慬獳獥愠敲瘠牥⁹獵晥汵映牯愠汬漠⁦獕眠潨眠湡獴琠⁯敬牡⁮潧摯䔠杮楬桳猠⁯湩挠慬獳獥椠⁴獩椠摮癩摩慵⁬汣獡⁳湡⁤敨据⁥慥祳琠⁯湵敤獲慴摮‮潔氠慥湲攠敶祲慤⁹獩琠潯朠潯⹤Ⱗ✠捡楴敶Ⱗㄠⰰ丠坏⤨Ⱙ⠊ㄱ‬䜧灯⁩慐摮瑩Ⱗ✠䕉呌⁓牐灥牡瑡潩❮‬䜧❐‬戧ⵧ異灲敬Ⱗ✠⁉瑡整摮摥琠敨䤠䱅協挠慬獳獥愠⁴汁桰⁡楍摮⹺䴠⁹慦畣瑬⁹潣摮捵整⁤桴⁥汣獡敳⁳湡⁤牰癯摩摥朠敲瑡椠獮杩瑨⁳潦⁲桴⁥牰灥牡瑡潩⹮䄠灬慨䴠湩穤洠摡⁥獵映浡汩慩⁲楷桴琠敨愠瑣慵⁬整瑳映牯慭⁴桷捩⁨敨灬摥洠⁥慧湩挠湯楦敤据⁥湩琠敨琠獥⁴慤⹹吠敨猠畴祤洠瑡牥慩⁬獩挠浯牰桥湥楳敶‮桔⁥汣獡敳⁳敷敲瘠牥⁹敨灬畦⹬䤠眠湡⁴潴琠汥⁬楢⁧桴湡獫琠⁯汁獩慨‬敄灥⁡湡⁤潒灯⁡桷⁯敨灬摥洠⁥潴挠敬牡洠⁹䕉呌⁓楷桴朠潯⁤慢摮✮‬愧瑣癩❥‬ㄱ‬低⡗⤩ਬㄨⰲ✠敌湯匠潣瑴Ⱗ✠䕉呌⁓牃獡⁨潃牵敳Ⱗ✠卌Ⱗ✠杢愭扭牥Ⱗ✠硅散汬湥ⱴ琠潯⁫桴⁥‱敷步挠慲桳挠畯獲⁥眨湥⁴‴楴敭⥳愠摮朠瑯㜠㔮椠⁮䕉呌ⱓ琠敨漠敮琠⁯湯⁥汣獡敳⁳慭敫⁳污⁬桴⁥楤晦牥湥散✮‬愧瑣癩❥‬㈱‬低⡗⤩ਬㄨⰳ✠畍敫桳匠瑵慨❲‬䌧畯獮汥楬杮䌠楬湥❴‬䴧❓‬戧ⵧ整污Ⱗ✠敂瑳挠畯獮汥潬⁲湩倠湡楪⹭⸮‮瑩❜⁳敮牡嘠癩湡慴椠⁮慐橮浩䜠慯✮‬愧瑣癩❥‬㌱‬低⡗⤩ਬㄨⰴ✠牁獵楨丠楡❫‬䤧䱅協匠畴敤瑮Ⱗ✠乁Ⱗ✠杢椭摮杩❯‬䠧摡愠眠湯敤晲汵攠灸牥敩据⁥楷桴䄠灬慨䴠湩穤‬牧慥⁴汰捡⁥潴琠慲湩湩⁧潹牵敳晬映牯䤠䱅協‮瑉栠獡瘠牥⁹敨灬畦⁬湡⁤湩潦浲瑡癩⁥牴楡敮獲‬獥数楣污祬䄠楬桳⹡吠慨歮⁳潦⁲桳牡湩⁧潹牵欠潮汷摥敧✮‬愧瑣癩❥‬㐱‬低⡗⤩ਬㄨⰵ✠敒敢慫⁨桐汩灩Ⱗ✠䕉呌⁓…佔䙅⁌牐灥Ⱗ✠偒Ⱗ✠杢戭畬❥‬䄧灬慨䴠湩穤栠獡栠汥数⁤敭椠浭湥敳祬‮桔⁥慦畣瑬⁹獩瘠牥⁹捡潣浭摯瑡湩⁧湡⁤敨灬畦⹬吠敨猠档摥汵⁥獩映敬楸汢⁥湡⁤慣整敲⁤潴礠畯⁲潣癮湥敩据⹥䄠灬慨䴠湩穤洠摡⁥祭䤠䱅協攠慸⁭牰灥牡瑡潩⁮瑳敲獳映敲⁥湡⁤慥祳‮⁉敲潣浭湥⁤瑩琠⁯湡潹敮猠敥楫杮栠汥⁰楷桴琠敨猠浡⹥Ⱗ✠捡楴敶Ⱗㄠⰵ丠坏⤨Ⱙ⠊㘱‬匧慷桴⁩❋‬吧䕏䱆匠畴敤瑮Ⱗ✠䭓Ⱗ✠杢瀭湩❫‬䄧灬慨䴠湩穤栠獡琠敨洠獯⁴敨灬畦⁬湡⁤浡穡湩⁧整捡敨獲‮桔祥栠癡⁥敨灬摥洠⁥敧⁴桴⁥敲畱物摥猠潣敲椠⁮祭吠䕏䱆攠慸⁭潦⁲潦敲杩⁮摥捵瑡潩⹮Ⱗ✠捡楴敶Ⱗㄠⰶ丠坏⤨Ⱙ⠊㜱‬倧牵慶䬠湩污步牡Ⱗ✠潃普摩湥散䌠慯档湩❧‬倧❋‬戧ⵧ牧敥❮‬䄧灬慨䴠湩穤椠⁳⁡牧慥⁴汰捡⁥潴栠汥⁰湩楦瑬慲整挠湯楦敤据⁥楷桴湩礠畯‮癅牥⁹牴楡敮⁲獩攠捸灥楴湯污祬栠汥晰汵愠摮猠楫汬摥‮桔⁥牰杯慲獭愠敲瘠牥⁹敷汬椠瑮来慲整⁤潳愠⁳潴瀠潲楶敤愠眠潨敬攠灸牥敩据⹥Ⱗ✠捡楴敶Ⱗㄠⰷ丠坏⤨Ⱙ⠊㠱‬䄧楢慧汩䘠牥慮摮獥Ⱗ✠䕉呌⁓…灓歯湥䔠杮楬桳Ⱗ✠䙁Ⱗ✠杢瀭牵汰❥‬䄧灬慨䴠湩穤瀠潲楶敤⁳硥散汬湥⁴潣捡楨杮映牯䤠䱅協‬灳歯湥䔠杮楬桳愠摮漠桴牥挠慯档湩⁧潦⁲档汩牤湥愠⁳敷汬‮桔祥栠癡⁥牦敩摮祬愠摮挠潯数慲楴敶猠慴晦✮‬愧瑣癩❥‬㤱‬嘧湩摯嘠橩祡湡Ⱗ✠䕉呌⁓潃捡楨杮匠畴敤瑮Ⱗ✠噖Ⱗ✠杢愭扭牥Ⱗ✠汁桰⁡楍摮⁺慷⁳湡攠捸汥敬瑮攠灸牥敩据⁥潦⁲敭椠⁮整浲⁳景䤠䱅協挠慯档湩⹧吠敨物瀠潲敦獳潩慮⁬灡牰慯档椠⁮牴楡楮杮栠汥数⁤敭猠捵散摥椠⁮桴⁥硥浡‮汁⁬畴潴獲愠摮琠敨攠瑮物⁥整浡眠牥⁥敶祲猠灵潰瑲癩⁥湡⁤敨灬畦ⱬ爠杩瑨映潲⁭敲楧瑳慲楴湯琠⁯潣牵敳挠浯汰瑥潩⹮䬠敥⁰灵礠畯⁲慭癲汥潬獵眠牯⁫汁桰⁡楍摮⁺整浡✮‬愧瑣癩❥‬㤱‬低⡗⤩ਬ㈨ⰰ✠慓桳歩湡⁴桓歵慬Ⱗ✠灓歯湥䔠杮楬桳匠畴敤瑮Ⱗ✠卓Ⱗ✠杢琭慥❬‬䤧屴猧愠瘠牥⁹潧摯眠牯⁫景洠⁹整捡敨⁲湡⁤⁉桴湩⁫桴瑡䄠灬慨䴠湩穤挠慬獳獥椠⁳敶祲甠敳畦⁬潦⁲污⁬景唠⁳桷⁯慷瑮⁳潴氠慥湲朠潯⁤湅汧獩⁨潳椠⁮汣獡敳⁳瑩椠⁳湩楤楶畤污挠慬獳愠摮栠湥散攠獡⁹潴甠摮牥瑳湡⹤吠⁯敬牡⁮癥牥摹祡椠⁳潴⁯潧摯✮‬愧瑣癩❥‬〲‬低⡗⤩ਬ㈨ⰱ✠慍慮楳吠污畡楬慫❲‬䌧牡敥⁲獁敳獳敭瑮䌠楬湥❴‬䴧❔‬戧ⵧ湩楤潧Ⱗ✠汁桰⁡楍摮⁺獩愠朠敲瑡瀠慬散映牯氠慥湲湩⁧獡琠敨猠慴晦椠⁳敶祲瀠潲敦獳潩慮⁬湡⁤畣瑳浯牥漠楲湥整⹤吠敨挠畯獲獥栠牥⁥楡⁭瑡瀠潲数⁲敬牡楮杮漠⁦桴⁥潣据灥獴爠瑡敨⁲桴湡映湩獩楨杮椠⁴慦瑳牥‮桔祥瀠潲楶敤礠畯眠瑩⁨⁡敤慴汩摥爠灥牯⁴晡整⁲潹牵愠瑰瑩摵⁥整瑳眠楨档栠汥獰礠畯戠瑥整⁲湵敤獲慴摮礠畯獲汥⁦湡⁤档潯敳愠挠牡敥⁲桴瑡椠⁳敢瑳猠極整⁤潦⁲潹⹵Ⱗ✠捡楴敶Ⱗ㈠ⰱ丠坏⤨㬩�